/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: rgba(255, 255, 255, 0.8);
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

$white: hsl(0, 0%, 100%);
$blue-grey-100: hsl(210, 38%, 80%);
$blue-grey-400: hsl(210, 38%, 95%);
$black-400: hsl(0, 0%, 96%);
$black-300: hsl(0, 0%, 85%);
$black-200: hsl(0, 0%, 75%);
$black-100: hsl(0, 0%, 20%);
